.reviews-info__number {
  display: block;

  font-size: 12px;
  color: $green;
  text-decoration: underline;
  padding-left: 21px;

  background-image: url("../img/reviews-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 1px;
  transition: opacity 0.2s ease-in;

  &:hover,
  &:focus {
    outline: none;
    text-decoration: none;
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
